.notification-custom{
    padding-top: 15px;
    padding-right: 25px;
    color: white;
    font-size: 20px;
}

#notification_li
{
    position:relative
}

#notificationContainer 
{
    background-color: #fff;
    border: 1px solid rgba(100, 100, 100, .4);
    -webkit-box-shadow: 0 3px 8px rgba(0, 0, 0, .5);
    overflow: visible;
    position: absolute;
    top: 48px;
    margin-left: -200px;
    width: 250px;
    z-index: -1;
}

#notificationContainer:before {
    content: '';
    display: block;
    position: absolute;
    width: 0;
    height: 0;
    color: transparent;
    border: 10px solid black;
    border-color: transparent transparent white;
    margin-top: -20px;
    margin-left: 200px;
}

#notificationTitle
{
    font-weight: bold;
    padding: 8px;
    font-size: 13px;
    background-color: #ffffff;
    position: fixed;
    z-index: 1000;
    width: 245px;
    border-bottom: 1px solid #dddddd;
}

#notificationsBody
{
    padding: 33px 0px 0px 0px !important;
    min-height:300px;
}

#notificationFooter
{
    background-color: #e9eaed;
    text-align: center;
    font-weight: bold;
    padding: 8px;
    font-size: 12px;
    border-top: 1px solid #dddddd;
}

#notification_count 
{
    font-weight: bold;
    border-radius: 5px;
    /*border: solid wheat;*/
    width: 15px;
    background: white;
    color: red;
    /*-moz-border-radius: 10px; 
    -webkit-border-radius: 10px;*/
    position: absolute;
    font-size: 10px;
    margin-top: 10px;
    margin-left: -10px;
    text-align: center;
}