
#widget_div
{
    position:fixed;
}

#widgetContainerPromotion 
{
    background-color: #fff;
    overflow: visible;
    position: fixed;
    bottom:1px;
    right: 100px;
    height: 600px;
    width: 400px;
    z-index: 10;
}

#widgetContainerPromotion:before {
    position: fixed;
    width: 0;
    height: 0;
    color: transparent;
    border-color: transparent transparent white;
    margin-top: -20px;
}

#widgetContainerComplaint 
{
    background-color: #fff;
    overflow: visible;
    position: fixed;
    bottom:1px;
    right: 100px;
    height: 600px;
    width: 400px;
    z-index: 10;
}

#widgetContainerComplaint:before {
    position: fixed;
    width: 0;
    height: 0;
    color: transparent;
    border-color: transparent transparent white;
    margin-top: -20px;
}

.createWidget{
    width: 100%;
    height: 100%;
    overflow: hidden;
}

#widgetButtonPlus{
    position: fixed;
    right: 25px;
    bottom: 25px;
}

#widgetButtonCross{
    position: fixed;
    right: 25px;
    bottom: 25px;
}

#widgetButtonPromotion{
    position: fixed;
    right: 25px;
    bottom: 175px;
}

#widgetButtonComplaint{
    position: fixed;
    right: 25px;
    bottom: 125px;
}


.btn-circle.btn-xl {
  width: 40px;
  height: 40px;
  font-size: 15px;
  text-align: center;
  line-height: 1.33;
  border-radius: 20px;
}

.btn-noBorder{
    border: none;
}

.btn:focus {
  outline: none;
}

.navbar-complaint{
    background-color:  black;
    color: white;
}

.navbar-widget-custom{
    height: 45px;
    min-height: 45px;
    background-color: black;
}

.widget-close{
    padding-top: 5px;
}

.formDiv{
    clear: both;
    padding-top: 40px;
}

.widget-control{
    border: none;
    height: 50px;
    text-indent: 50px; 
}

.formImg{
    float: left;
    padding-left: 80px; 
    width: 25%;
    height: 100px;
}
.formImgText{
    clear: both;
    font-family: inherit;
    text-align: right;
    padding: 10px;
    color: lightgrey;
}

.complaint-title{
    background: url(/assets/icon_tf_subject.png) no-repeat scroll 5px 5px;
    background-size: 20px 20px;
    background-position: 20px 20px;
}

.form-location{
    background: url(/assets/icon_tf_location.png) no-repeat scroll 5px 5px;
    background-size: 20px 20px;
    background-position: 20px 20px;
}

.form-tags{
    background: url(/assets/icon_tf_tags.png) no-repeat scroll 5px 5px;
    background-size: 20px 20px;
    background-position: 20px 20px;
}

.form-complaint-desc{
    background: url(/assets/icon_tf_subject.png) no-repeat scroll 5px 5px;
    background-size: 20px 20px;
    background-position: 20px 20px;
    height: 80px;
}

.actionForm{
    text-align: center;
    padding-left: 80px;
    padding-top: 40px;
}

.form-action{
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: grey;
    border: none;
    width: 200px;
    height: 50px;
    padding: 20px;
}

.widget-icon{
    width: 30px;
    height: auto;
}

.btn-widget
{
    width: 200px;
}

.widget-button
{
    text-align: center;
    padding: 20px;
}