
<html>
<body>
<br>
<p>
  www.roosterapp.in has two main categories
</p>
<p>
  <strong>1) CREATE SPEAK UP </strong>
</p>
<p>
  <strong>2) CREATE PROMOTIONS</strong>
</p>
<p>
  We will be explaining in detail both the categories separately.
</p>
<p>
  <strong><u>SPEAK UP : </u></strong>
  In today's time ,every day , everyone somewhere is frustrated either with the product they bought , goods they received , services by a particular
  organization , institutions policies etc. etc. People get affected when mundane everyday basic requirements of food, water, electricity, good roads,
  garbage disposal, cleanliness etc. around the society are not to the required standard. The most they can do about it is write a review, post it on
  social media and leave it at that. A genuine bad review is countered by many good reviews, mostly done by the people working in the same organization,
  the review is about. A bad review does not necessarily bring about a change in your favor nor in the working of the organization leaving you more
  frustrated. A post in the social media citing your problem definitely has some impact but not always. Rooster encourages people to speak up rather than
  silently resent.
</p>
<p>
  This is an exclusive app dealing with different forms of issues of the people, where they can generate their own supporters by showing the reality
  you faced by uploading videos or pictures of the problem you faced. Time and again we have seen that there is strength in numbers, the more individual
  or organization that you can rally to your cause, the better. Group of people have more influence or power than one person. Therefore when you speak up
  about your issues and generate enough number of individual to support your cause, the opposing party has to notice and bring about a change. If in case
  the claim is wrong, the opposing party gets the same platform to prove their point. Finally the truth prevails.
</p>
<p>
  <strong>How does 'create speak up' exactly work in this app? </strong>
</p>
<p>
  <strong>
    If you have a complaint/issue about some product/ service/ organizations/ institutions/ society policy, anything in specific that leaves you dissatisfied. If you feel helpless
    or cheated and you want to speak up about it and bring a change then
  </strong>
</p>
<p>
  <strong>1. Upload your issue with the help of video /picture or voice clippings by using 'create speakup' icon either directly from the scene using camera
    option or later on from the gallery.
  </strong>
</p>
<p>
  <strong>2. To generate supporters or increase the voice of your issue, share it with any or all contacts from your phone, email and other social media.
  </strong>
</p>
<p>
  <strong>3. The friends you have shared the video with have the option to shout (for you) OR listen (to you) OR exit.</strong>
</p>
<p>
  <strong>4. Both the supporters (one who are shouting for you and one who is listening) can share your 'speak up' with others who are known to them, thus creating
    a chain and increasing the strength and volume of your cause.
  </strong>
</p>
<p>
  <strong>5. When someone decides to shout for you he becomes the active supporter. Therefore he has the choice to share his views and opinion in the discussion column and in case if he has faced the same issue then he can also upload photos /picture/videos regarding the same. </strong>
</p>
<p>
  <strong>6. Listeners are silent supporters, they don't have a say but they can observe what's going on.</strong>
</p>
<p>
  <strong>7. If total count strength of (shouts + listen) of an individual 'speak up' is 5000 or more we take it upon ourselves to follow your complaint/issue with the associated people and bring it to its right conclusion by
    sending daily reminders either by mails, calls or personal visit. In our everyday busy life, people don't have the time to follow upon an issue and
    eventually move on with regret. These is when we come in and help you resolve your issues with the help of the numbers that you generated on this app.
  </strong>
</p>
<p>
  Making the system more transparent is the motto of this app. You must be the change you want to see in this world.
</p>
<p>
  <strong><u> PROMOTION: </u></strong>
  This is an era of startup, individual business, working from home etc... All this establishments, no matter how small or big require advertising,
  marketing and promotions to make people aware of its existence. Visibility is very important in today's market. This is where we come in picture. We
  give you a platform to advertise your own product by means of videos, photos and voice clippings. You can be as creative as you want by using this
  features. Whether it taking math classes or pottery classes, designer wear, interior decorations, content writing, small scale industries, organic farm
  products, whatever it is that you have to offer, you can showcase with this unique platform and make it known to the world.
</p>
<p>
  How does 'create promotions' exactly work in this app?
</p>
<p>
  <strong>1) If you have a product or service to promote, upload your video/picture/voice clippings describing your product using 'create promotions' icon either
    directly through the camera option or from the gallery. You will get payment packages. These packages are directly proportional to the number of people
    you can connect to (number of viewers). Choose the package which suits you best.</strong>
</p>
<p>
  <strong>2) Once payment is done your Ad will be posted on the main page of promotions as well as the home page.</strong>
</p>
<p>
  <strong>3) Share it with friends/ contacts on phone book, social media and email. They need to download the app in order to view the Ad.</strong>
</p>
<p>
  <strong>4) They can further share it with their friends or known contacts from phone book, social media and email increasing your viewership.</strong>
</p>
<p>
  <strong>5) Any new person who is not in your contacts but is another promoter or viewer, who visits this page, will also be able to see your ad.</strong>
</p>
<p>
  <strong>6) These people, if they require your services, can contact you directly.</strong>
</p>
<p>
  <strong>7) Every day you will get alerts about, how many people are seeing your AD in the form of number of 'connects'. </strong>
</p>
<p>
  <strong>8) You may have a question regarding why people will want to see and share your Ad in an App. Well,
    we are depositing one rupee in the account of the person for every new Ad he shares. This happens only when the Ad is viewed by the person with whom it
    was shared. This person can be anyone, either one of your known contacts or some random person viewing the Ad. He can share any number of Ads, he wants
    to from the home page or promotion page.In this way your viewership increases and it also benefits the person who is sharing your Ad. This in turn will create a chain encouraging more sharing
    leading to more viewership leading to increased connection. Win Win situation for both. Once the package expires, app will ask if you want to recharge. With your willingness, the process continues in the same manner.
  </strong>
</p>
<p>
  <strong>
    So wats stopping you, upload your advertise or speak up about your issues today by using 'create promotion' or 'create speak up' features of<u>roosterapp.in </u>. Success is not something readymade. It comes from your own actions. So ACT NOW by downloading roosterapp.in from app store (ios
    version) and play store (android version).
  </strong>
</p>
<p>
  <strong><em>THANKYOU.</em></strong>
</p>
<p>
  <strong><em>RoosterApp team.</em></strong>
</p>
</body>
</html>
