
<iframe width="100%" height="450" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?key=AIzaSyCKNZXxNbJBKZZocbExUuRkGJ1wl7lPtTA&q=T%20Hub%20hyderabad" allowfullscreen>
</iframe>

<div class="row" style="margin-bottom: 0px;">
  <h4 class="col s12" style="font-size: 16px;font-weight: bold;text-align:center;">CONTACT INFO</h4>
</div>
<div class="row" style="margin-bottom: 0px;">
  <div class="col s2"></div>
  <div class="col s4" style="float:left;margin-left:15%;">
    <div class="col s6"><a href="mailto:info@rooster.com" target="_top"><div style="float:left;"><i class="material-icons">mail</i></div><div style="float:left;margin:2px;">info@rooster.com</div></a></div>
    <div class="col s6" style="clear:both;"><a href="tel:9999999999"><div style="float:left;"><i class="material-icons">phone</i></div><div style="float:left;margin:2px;">9999999999</div></a></div>
    <div class="col s12" style="clear:both;">
      <p  style="margin-bottom: 0px;font-weight: bold;">
        <span class="fs24">Rooster</span>
        <br /> T-Hub Building
        <br /> IIIT-H Campus
        <br /> Gachibowli, Hyderabad
      </p>
    </div>
  </div>
  <div class="col s4" style="float:right;margin-right:10%;text-align: end;">
    <h6 style="display: inline;font-weight: bold;">Follow us on:</h6>
    <a href="https://www.facebook.com/" target="_blank" style="padding: 4px;"><img src="./assets/facebook.png" /></a>
    <a href="https://twitter.com/" target="_blank" style="padding: 4px;"><img src="./assets/twitter.png" /></a>
    <a href="https://www.instagram.com/" target="_blank" style="padding: 4px;"><img src="./assets/instagram.png" /></a>
    <a href="https://www.youtube.com/channel/" target="_blank" style="padding: 4px;"><img src="./assets/youtube.png" /></a>
    <a href="https://www.pinterest.com/"  target="_blank" style="padding: 4px;"><img src="./assets/pinterest.png" /></a>

    <div style="margin-top: 30px;">
      <a href="https://play.google.com/store/apps" target="_blank" style="padding-right: 40px;">
        <img class="store_imgs" src="./assets/google-play.png" width="90" />
      </a>
      <a href="https://www.apple.com/itunes/" target="_blank">
        <img class="store_imgs" src="./assets/app-store.png" width="90" />
      </a>
    </div>
  </div>
  <div class="col s2"></div>
