<div class="demo-card demo-basic">
  <div class="md-toolbar-custom">
    <div>Payment</div>
  </div>
  <div style="width:90%;margin-bottom:10px;">
    <div class="paymentDesc">
      <div><span style="margin:15px;font-size:16px;">Unlimited views</span></div>
      <br/>
      <div><span style="margin:15px;font-size:14px;">Will be shared to people</span></div>
    </div>
    <div style="float:left;width:40%">
      <br/>
      <input type="number" [(ngModel)]="amount" name="amount" placeholder="Amount" style="width: 100%" />
    </div>
  </div>
  <div>
    <hr/>
    <span style="margin:15px;font-size:14px;color:grey;">Share for 3 months</span> 
    <span style="float:right;font-size:14px;font-weight:bold;color:black;">INR 1000</span>
    <hr/>
  </div>
  <input type="text" [(ngModel)]="promoCode" name="promoCode" placeholder="Have a Promo Code - Enter it here" style="width: 90%;border-left:10px;" />
  
  <br/>
  <br/>
  <div style="width: 90%; clear:both;">
    <span style="margin:15px;font-size:14px;color:grey;">Sub Total</span> 
    <span style="float:right;font-size:14px;font-weight:bold;color:black;">INR {{amount}}</span>
    <hr/>
  </div>

  <div style="width: 90%; clear:both;">
    <span style="margin:15px;font-size:14px;color:grey;">Discount</span> 
    <span style="float:right;font-size:14px;font-weight:bold;color:black;">0</span>
    <hr/>
  </div>
  
  <div style="width: 90%; clear:both;">
    <span style="margin:15px;font-size:14px;color:grey;">Tax</span> 
    <span style="float:right;font-size:14px;font-weight:bold;color:black;">INR 0</span>
    <hr/>
  </div>

  <div style="width: 90%; clear:both;">
    <span style="margin:15px;font-size:14px;color:grey;">Total</span> 
    <span style="float:right;font-size:14px;font-weight:bold;color:black;">INR {{amount}}</span>
    <hr/>
  </div>
  <div  class="buttonWrapper">
   <button class="btn btn-primary " name="submit" type="submit" (click)="initiatePayment();">
    Pay and Publish
   </button>
  </div>
</div>
