
<html>
<body>
<br>
<p>
  <a href="http://www.roosterapp.in">www.roosterapp.in</a>
  (hereinafter referred to as <strong>"Website"</strong>) and roosterapp (hereinafter referred to as <strong>"Application"</strong>) owned and operated by
  Rad Social Networking Private Limited (hereinafter referred to as "<strong>Company</strong>", "<strong>Us</strong>" or "<strong>We</strong>")hereby state
  that any payment once made on the Website/Application cannot be cancelled and the payment so made cannot be refunded.
</p>
<p>
  The User understands that any double payments will be credited back to the account of the User by the 3rd party payment gateway.
</p>
<p>
  While making payment using the online third party payment gateway platform/system, you agree and acknowledge that the Company is not responsible or shall not assume any liability, whatsoever in respect of any loss or damage arising directly or indirectly to you due to reasons not limited to -:
</p>
<p>
  ● Misuse or illegal duplication of the authorization for any transaction's;
</p>
<p>
  ● Impersonation by any third party/individual in relation to use of debit/credit card;
</p>
<p>
  ● Any issues/error which may arise at the end of your Bank; and
</p>
<p>
  ● Any payment issues arising due to decline of transaction for any other reason's whatsoever.
</p>
<p>
  All instruments processed by the payment gateway or appropriate payment system infrastructure will also be governed by the terms and conditions agreed with the respective Issuing Bank/institutions in addition to the present terms and conditions.
</p>
<p>
  User acknowledge that we shall not be held liable for any damages, interests or claims etc. resulting from not processing the payment transaction or any delay in processing the payment transaction which is beyond the control of the Company.
</p>
</body>
</html>
