
<div *ngIf="isLoading">
    <i class="fa fa-spinner fa-spin fa-3x fa-fw spinner-custom"></i>
</div>
<div style="float:left; width:100%">
    <div *ngFor="let feed of promotions| paginate: {    itemsPerPage: pageSize,
                                                   currentPage: page,
                                                   totalItems: total }; let i = index">
            <div class="profile-feed">
                <div>
                    <h4>{{ feed.title }}</h4>
                </div>
                <div *ngFor="let tag of feed.tags" class="tags">
                        #{{ tag.tag }}
                </div>
                <a (click)="redirectToGMaps(feed.lat,feed.lng)">
                    <div id="location-div">
                        <div id="location">
                            <img src="assets/icon_tf_location_active.png">
                        </div> 
                        <div id="location-address">
                            {{ feed.location }}
                        </div>
                    </div>
                </a>  
                <div id="date">
                    <img src="assets/time_icon.png">
                    {{ extractDate(feed.created_at) }}
                </div>  
                <div *ngIf="feed.media_type=='IMG'" id="img-div">
                    <img src= "{{ feed.image + 'roosterbucket/roost/' + feed.id + '.jpeg'}}"  />
                </div>
                <div *ngIf="feed.media_type=='VID'" id="vid-div">
                    <video controls>
                        <source src= "{{ feed.video + 'roosterbucket/roost/' + feed.id + '.mp4'}}" type="video/mp4">
                    </video>
                </div>
                <div *ngIf="feed.media_type=='AUD'" id="aud-div">
                    <audio controls>
                        <source src= "{{ feed.audio + 'roosterbucket/roost/' + feed.id + '.mp3'}}" type="audio/mpeg">
                        Your browser does not support the audio element.
                    </audio>
                </div>
                <div id="profileText">
                    <p> {{ feed.text }}
                </div>
                <div id="Comments">
                    <a href="#">{{ feed.shouts }} Shouts</a>  &#8226;  <a href="#">{{ feed.listeners }} Listeners</a>  &#8226;  <a href="#">{{ feed.comments }} Comments</a>   
                </div>
                <hr/>
                <div id="icons">
                    <div *ngIf="feed.isShout==false" (click) = "toggleShout(i)" class="icon">
                        <a><img src="assets/icon_support.png"></a>
                    </div>
                    <div *ngIf="feed.isShout==true" (click) = "toggleShout(i)" class="icon">
                        <a><img src="assets/icon_support_active.png"></a>
                    </div>
                    <div *ngIf="feed.isListened==false" (click) = "toggleListen(i)" class="icon">
                        <a><img src="assets/icon_listners.png"></a>
                    </div>
                    <div *ngIf="feed.isListened==true" (click) = "toggleListen(i)" class="icon">
                        <a><img src="assets/icon_listners_active.png"></a>
                    </div>
                    <div class="icon">
                        <a><img src="assets/icon_comment.png"></a>
                    </div>
                    <div class="icon_share">
                        <a><img src="assets/icon_share.png"></a>
                    </div>
                </div>
            </div>
	</div>
</div>
<pagination-controls (pageChange)="getPage($event)"></pagination-controls>